
@{
    ViewData["Title"] = "EmailNotFound";
}

<div class="text-center">
    <h2 class="display-4">User not found</h2>
    <p><br />Error! No such user is found in our data base.<br/>
    <p>Not registered yet? Click to <a asp-action="Register">Register</a></p>
</div>
