
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<div class="text-center">
    <h2 class="display-4">Email Confirmation Message</h2>
    <p><br />An Email has been sent to you with instructions to reset your password</p>
</div>