
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<div class="text-center">
    <h2 class="display-4">Reset Password Confirmation</h2>
    <p><br/>Your Password is reset. Please click <a asp-action="Login">here to Login.</a></p>
</div>

